{% extends "nav.html" %}
{% load static %}

{% block title %}A propos{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        
        <div class="col-md-8">
            <h1 class="display-4">Alexis Fernandes</h1>
            <p class="lead">Étudiant en BTS SIO SLAM</p>
            <p>
                Bonjour, je m'appelle Alexis Fernandes. Je suis étudiant en BTS Services Informatiques aux Organisations (SIO) spécialité Solutions Logicielles et Applications Métiers (SLAM). 
                Cette application web a été créée dans le cadre de l'épreuve E6 de mon cursus. Mon objectif était de démontrer mes compétences en développement web et en gestion de projet.
            </p>
            <h3>Le Projet</h3>
            <p>
                Cette application vise à fournir une solution innovante pour faire l'achat d'objet sur un jeu vidéo. J'ai utilisé des technologies modernes telles que Django pour le backend et Bootstrap pour le frontend, assurant ainsi une expérience utilisateur optimale.
            </p>
            <h3>Technologies Utilisées</h3>
            <ul>
                <li>Django</li>
                <li>Bootstrap</li>
                <li>HTML, CSS, JavaScript</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}