{% extends "nav.html" %}
{% load static %}

{% block title %}S'inscrire{% endblock %}

{% block content %}


<h1>
    <center>
    Mot de passe
</center>
</h1>
<br>
<br>
<br>


<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                <form method="POST" action="{% url 'password' %}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">Sauvegarder</button>
                </form>
            </div>
        </center>
    </div>
</div>
<br>
<br>

{% endblock %}