{% extends "nav.html" %}
{% load static %}

{% block title %}Produit{% endblock %}

{% block content %}
<br><br><br>
<div class="card mb-3" style="max-width: 1000px;">
  <div class="row g-0">
    <div class="col-md-4">

      {% if produit.is_promo %}
      <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Promo !</div>
      <img src="{{ produit.image.url }}" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <center>
          <h5 class="card-title">{{ produit.name }}</h5>
          <p class="card-text">{{ produit.description }}</p>
          <p class="card-text"><strike>${{ produit.price}} €</strike>
            {{ produit.promo_price}} €</p>
        </center>
      </div>
    </div>
    {% else %}
    <img src="{{ produit.image.url }}" class="img-fluid rounded-start" alt="...">
  </div>
  <div class="col-md-8">
    <div class="card-body">
      <center>
        <h5 class="card-title">{{ produit.name }}</h5>
        <p class="card-text">{{ produit.description }}</p>
        <p class="card-text">{{ produit.price }} €</p>
      </center>
    </div>
    {% endif %}
    <div class="row justify-content-center">
      <div class="col-md-2">Quantité :</div>
      <div class="col-md-2">
        <select class="form-select form-select-sm" title="Choisir quantité" id="qty-panier">
          {% for i in quantite_options %}
          <option value="{{ i }}">{{ i }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    <div class="card-body">

      <button type="button" value="{{ produit.id }}" class="btn btn-secondary" id="add-panier">Ajouter au
        panier</button>
      </center>
    </div>
  </div>
  <br>


</div>
</div>
<br><br><br><br><br><br>

<script>
  // Permet de voir si le boutton panier est pressé
  $(document).on('click', '#add-panier', function (e) {
    e.preventDefault();
    $.ajax({
      type: "POST",
      url: "{% url 'panier_add' %}",
      data: {
        produit_id: $("#add-panier").val(),
        produit_qty: $("#qty-panier option:selected").text(),
        csrfmiddlewaretoken: '{{ csrf_token }}',
        action: 'post'
      },
      success: function (json) {
        document.getElementById("panier_quantite")
          .textContent = json.qtite;
        location.reload();

      },
      error: function (xhr, errmsg, err) {
        console.log(xhr.status + ": " + xhr.responseText);
      },
    })
  })


</script>
{% endblock %}