
{% extends "nav.html" %}
{% load static %}

{% block title %}Profil{% endblock %}

{% block content %}
<body>
    <div class="container mt-5">
        <h2>Modifier le profil</h2>
        <form method="post" action="{% url 'profile' %}">
            {% csrf_token %}
            {{ user_form.as_p }}
            <button type="submit">Enregistrer les modifications</button>
            
            
            <a href="{% url 'logout' %}">Déconnexion</a>
        </form>
    </div>
</body>
{% endblock %}
