
{% extends "nav.html" %}
{% load static %}

{% block title %}Profil{% endblock %}

{% block content %}
<body>
    <div class="container mt-5">
        <h2>Modifier le profil</h2>
        <form method="post" action="{% url 'profile' %}">
            {% csrf_token %}
            {{ user_form.as_p }}
            <a href="{% url 'password' %}" class="btn btn-outline-dark">Mot de passe</a>
            <br><br>
            <button type="submit" class="btn btn-primary">Enregistrer les modifications</button>
            <RIGHT><a href="{% url 'logout' %}">Déconnexion</a></RIGHT>
            


        </form><br>


    </div>
</body>
{% endblock %}
